DISCORD_ANALYTICS_TOKEN=SEU_TOKEN_DO_BOT_DATA_REC_AQUI
DISCORD_ANALYTICS_CLIENT_ID=1414214162740936755
DISCORD_GUILD_ID=1179187507875827782

MONGO_URI=mongodb+srv://desenvolvimentoserriquinho:t0EDr0lbR91mqf2P@clusterriquinho.djt0j.mongodb.net/riquinho?retryWrites=true&w=majority&tls=true

PORT=3002
NODE_ENV=development
LOG_LEVEL=info
LOG_DIRECTORY=./logs
